.conteneurPrincipal{
-fx-alignment:center;
-fx-border-style:solid;
-fx-font-style:italic;
-fx-border-width:9px;
-fx-background-image: url('/images/chessTable.jpg');
-fx-font-size:20px;
	

}

.conteneurBoite{
-fx-alignment:center;
-fx-border-style:solid;
-fx-border-color:green;
-fx-border-width:9px;
-fx-background-color:yellow;
-fx-font-size:20px;

-fx-min-width:400px;
-fx-max-width:1000px;


}
.conteneurBoutons{


}




.conteneurImage{ 

	-fx-alignment:center;

	-fx-max-height:800px;
	-fx-max-width:800px;
    
	/*
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position:90%;
    */ 
-fx-border-style:solid;
-fx-border-color:green;
-fx-border-width:9px;

    

}


.caseAjustable{ 
	-fx-max-height:600px;
	-fx-max-width:600px;

-fx-border-style:solid;
-fx-border-color:red;
-fx-border-width:9px;

}

